<div class=" dash-box">
  <div class="title-box">
    <h3 class="text-[var(--5)] font-semibold text-[21px]">
      WHY GLOBAL SERVICES
    </h3>
  </div>

  <ul>
    <li routerLink="/dashboard/home">
      <a routerLink="/dashboard/home" routerLinkActive="li-active">Home</a>
    </li>
    <li routerLink="/dashboard/attendance">
      <a routerLink="/dashboard/attendance" routerLinkActive="li-active"
        >Manage Attendance</a
      >
    </li>

    <li routerLink="/dashboard/manage-employee">
      <a routerLink="/dashboard/manage-employee" routerLinkActive="li-active"
        >Manage Employee</a
      >
    </li>
    <li routerLink="/dashboard/payslip">
      <a routerLink="/dashboard/payslip" routerLinkActive="li-active"
        >Pay Slip</a
      >
    </li>
  </ul>
</div>
