<div class="drawer drawer-end">
  <input id="my-drawer-4" type="checkbox" class="drawer-toggle" />

  <!-- Page content here -->

  <div class="drawer-side">
    <label
      for="my-drawer-4"
      aria-label="close sidebar"
      class="drawer-overlay"
    ></label>
    <div style="padding: 0 !important;"
      class="menu bg-slate-50 w-1/4  min-w-[300px] min-h-full text-base-content"
    >
      <!-- Sidebar content here -->
      <div class="pay-head">
        <h2>Payslip</h2>
      </div>
      <div class="pay-body">
        <p>Name</p>
        <p>{{selectedEmp.empName}}</p>

        <p>Employee Id</p>
        <p>{{selectedEmp.empId}}</p>

        <p>Payable</p>
        <p>{{selectedEmp.PayDay}} days</p>

        <p>Actual Salary</p>
        <p>{{selectedEmp.grossSalary}}</p>

        <p>Gross Salary</p>
        <p>{{grossSalary}}</p>

        <p>Basic </p>
        <p>{{basic}}</p>

        <p>Hra </p>
        <p>{{hra}}</p>

        <p>Conveyance </p>
        <p>{{Conveyance}}</p>

        <p>OA</p>
        <p>{{OA}}</p>
        
      </div>
    
  </div>
  </div>
</div>
<div class="full-box">
  <h3 class="text-[var(--5)] font-semibold my-4">Payslip</h3>
  <div class="search-box">
    <input
      #search
      (keyup)="searchName(search)"
      type="text"
      placeholder="Search by Name..."
    />
  </div>
  <div class="dropdown-box">
    <select class="mr-5 shd" name="" id="" (change)="depChange($event)">
      <option value="">All</option>
      @for (item of roles; track $index) {

      <option [value]="item">{{ item }}</option>
      }
    </select>

    <input
      [value]="currentMonth"
      [max]="currentMonth"
      #month
      (change)="monthChange(month.value)"
      type="month"
      class="month"
    />
  </div>
  <div class="table-box">
    <div class="rounded-lg border border-gray-200">
      <div class="overflow-x-auto rounded-t-lg">
        <table class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm">
          <thead class="ltr:text-left rtl:text-right">
            <tr>
              <th
                class="whitespace-nowrap text-left px-4 py-2 font-medium text-gray-900"
              >
                Name
              </th>
              <th
                class="whitespace-nowrap text-left px-4 py-2 font-medium text-gray-900"
              >
                Emp Id
              </th>
              <th
                class="whitespace-nowrap text-left px-4 py-2 font-medium text-gray-900"
              >
                Department
              </th>
              <th
                class="whitespace-nowrap text-left px-4 py-2 font-medium text-gray-900"
              >
                Role
              </th>

              <th
                class="whitespace-nowrap text-left px-4 py-2 font-medium text-gray-900"
              >
                Gross salary
              </th>
              <th
                class="whitespace-nowrap text-left px-4 py-2 font-medium text-gray-900"
              >
                Payable days
              </th>
              <th
                class="whitespace-nowrap text-left px-4 py-2 font-medium text-gray-900"
              >
                Net Salary
              </th>

              <th
                class="whitespace-nowrap text-left px-4 py-2 font-medium text-gray-900"
              >
                Head
              </th>
            </tr>
          </thead>

          <tbody class="divide-y divide-gray-200">
            @for (v of allEmp.all; track $index) {
            <tr>
              <td
                class="whitespace-nowrap cursor-pointer hover:text-[var(--5)] hover:underline hover:underline-offset-4 px-4 py-2 font-medium text-gray-900"
              >
                <a>
                  <label 
                    class="whitespace-nowrap cursor-pointer hover:text-[var(--5)] hover:underline hover:underline-offset-4 font-semibold px-4 py-2 text-gray-700"
                    (click)="viewPayslip(v)"
                    >{{ v.empName }}</label
                  ></a
                >
              </td>
              <td
                class="whitespace-nowrap font-semibold px-4 py-2 text-gray-700"
              >
                {{ v.empId }}
              </td>
              <td class="whitespace-nowrap px-4 py-2 text-gray-700">
                {{ v.department }}
              </td>
              <td class="whitespace-nowrap px-4 py-2 text-gray-700">
                {{ v.designation }}
              </td>
              <td class="whitespace-nowrap px-4 py-2 text-gray-700">
                {{ v.grossSalary | currency : "INR" }}
              </td>
              <td class="whitespace-nowrap px-4 py-2 text-gray-700">
                {{ v.PayDay }}
              </td>
              <td class="whitespace-nowrap px-4 py-2 text-gray-700">
                {{ v.netSalary | currency : "INR" }}
              </td>

              <td class="whitespace-nowrap px-4 py-2 text-gray-700">
                {{ v.head }}
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
    <div class="button-box">
      <p>Total:{{ allEmp.sum[0].totalSalary | currency : "INR" }}</p>
    </div>
  </div>
</div>
<label #drawer  for="my-drawer-4" style="display: none;">label</label>