.full-box{
    // height: 100%;
    width: 100%;
    height: 100vh;
    padding: 0 15px;
    overflow-y: scroll;
 .search-box{
    height: 50px;
    width: 100%;
    margin:0 0  25px  0 ;
    input{
        height: 100%;
        border-radius:10px;
        padding: 0 10px;
        border: transparent;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        width: 80%;
        font-size: 17px;
        &:focus-visible{
            border: 1px solid var(--2) !important;
        }
    }
 }
 .dropdown-box{
    height: 50px;
    width: 100%;
    margin: 10px 0;
    select{
        height: 40px;
        padding: 0 10px;
    width: auto;
    font-size: 17px;
    border-radius: 10px;
    color: var(--5);
    }
 }
}
.table-box{
    height:  auto; 
    // background-color: var(--4);
    // padding: 10px 20px;
    border-radius: 10px;
    overflow-y: scroll;

}
td , th{
    height: 60px !important;
    font-size: 16px !important;
}
.table-box::-webkit-scrollbar{
    display: none;
}
.button-box{
    background-color: white;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 40px;
   
}
.button{
    color: white;
    background: var(--5);
    width: 140px;
    height: 40px;
    border-radius: 10px;
    transition: 250ms ease-in-out;
    &:hover{
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
    &:active{
        transform: translateY(5px);
        border: 2px solid var(--5);
    }
    &:disabled{
        background: gray;
        color: white;
        cursor: not-allowed;
    }
}